+++
title = "Natlas"
linkTitle = "Natlas"

+++

{{< blocks/cover title="Natlas" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Docs <i class="fas fa-info-circle"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/natlas/natlas">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Continuous reconnaissance for the rest of us<p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Natlas provides a distributed scanning platform to identify your network exposure. You can easily find out things like which SSL certificates have expired, whether or not you've accidentally exposed admin interfaces, and other common misconfigurations.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Insights coming soon!" %}}
We know how tiresome it can be to search through tens or hundreds of thousands of port scans to identify anomalies. That's why we're hard at work building an open source insights engine for your data.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/natlas/natlas" %}}
We do a [Pull Request](https://github.com/natlas/natlas/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/NatlasTeam" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
